@model Inmobiliaria.Dominio.Propiedad

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle de la propiedad</h1>

<div>
    <h4>Propiedad</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPropiedad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPropiedad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuperficieTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuperficieTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuperficieConstruida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuperficieConstruida)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dormitorios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dormitorios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TieneGarage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieneGarage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Antiguedad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Antiguedad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoOperacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoOperacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
